<html>
    <head>
        <title>Random Book Picker</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios@1.2.3/dist/axios.js"></script>
    </head>
    <body>
        <div id="app">
            <section class="main">
                <div class="title">
                    <h1>Books</h1>
                </div>
                <div class="urlForm" v-if="!hide">
                    <input type="text" v-model="goodreadsurl" placeholder="GoodReads URL"><button @click="getBookList">Get Books</button>
                </div>
                <div v-else>
                    <button v-if="!currentBook" @click="randomize">Randomize</button>
                    <button v-if="currentBook" @click="filteredBooklist = booklist; currentBook = null">Show all</button>
                </div>

            <div v-if="!loading" id="booklist">
                <div class="row" v-if="!currentBook">
                    <div class="card" v-for="book in filteredBooklist">
                        <header>
                            <div class="bookTitle">{{book.title}}</div>
                        </header>
                        <div class="bookCover"><img :src="book.cover" /></div>
                    </div>
                </div>
                <div v-else class="currentBook">
                    <div class="container">
                        <img class="cover" :src="currentBook.cover"></img>
                        <h2>{{currentBook.title}}</h2>
                        <div class="description" v-html="currentBook.description"></div>
                    </div>
                </div>
            </div>

            <div v-else>
                <p>Loading...</p>
            </div>
        </section>

        </div>

    </body>
    <script>
        // import Vue
        const { createApp } = Vue

        // create the app
        createApp({
            data() {
               return {
                   loading: null,
                   hide: false,
                   currentBook: null,
                   booklist: [],
                   filteredBooklist: [],
            }
        },

        // define methods
        methods: {

            // get booklist from goodreads
            async getBookList() {

                // check if url is empty and if it is a goodreads url
                if (!this.goodreadsurl || !this.goodreadsurl.includes("goodreads.com")) {
                    alert("Please enter a valid GoodReads URL")
                    return
                }
                this.loading = true
                this.hide = true

                // replace list with list_rss to get the xml
                var grurl = this.goodreadsurl.replace("list", "list_rss")
                
                // bypasse CORS and get the xml from goodreads
                axios.get('https://api.allorigins.win/raw?url=' + grurl)
                    .then(response => {

                        // parse the xml
                        var parser = new DOMParser();
                        var xmlDoc = parser.parseFromString(response.data, "text/xml");
                        var items = xmlDoc.getElementsByTagName("item");

                        // parse the xml and add the books to the booklist
                        for (var i = 0; i < items.length; i++) {
                            var book = {}
                            book.description = items[i].getElementsByTagName("book_description")[0].childNodes[0].nodeValue
                            book.title = items[i].getElementsByTagName("title")[0].childNodes[0].nodeValue
                            book.cover = items[i].getElementsByTagName("book_large_image_url")[0].childNodes[0].nodeValue
                            // get the isbn and query the google books api to get the description
                            //book.isbn = items[i].getElementsByTagName("isbn")[0].childNodes[0].nodeValue
                            this.booklist.push(book)
                        }
                        // set the filtered booklist to the booklist
                        this.loading = false
                        this.filteredBooklist = this.booklist
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            // randomize the booklist and set the current book
            randomize() {
                this.currentBook = this.filteredBooklist[Math.floor(Math.random() * this.filteredBooklist.length)]
                // add the description to the current book
                //axios.get('https://www.googleapis.com/books/v1/volumes?q=isbn:' + this.currentBook.isbn)
                //    .then(response => {
                //        this.currentBook.description = response.data.items[0].volumeInfo.description
                //    })
                //    .catch(error => {
                //        console.log(error)
                //    })
            }
        },
            mounted () {
            }
        }).mount('#app')
    </script>

</html>



